/nbproject/private/
/public_html/Contenu/drapeau.jpg
/public_html/Contenu/file1.txt
/public_html/Contenu/file2.txt
/public_html/Contenu/towns.txt
/nbproject/
/public_html/Contenu/photo_canada/
/public_html/Lib/